#main-visual {
  background-image: url("../images/main/main.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  align-items: flex-end;
  text-align: center;
}
#main-visual .container {
  width: 1500px;
  color: #fff;
}
#main-visual .container .title h3 {
  font-size: 25px;
  margin-bottom: 30px;
}
#main-visual .container .title h2 {
  font-size: 100px;
  font-family: "Noto Serif KR";
}
#main-visual .container button {
  margin: 120px auto;
  padding: 20px 40px;
  border: 1px solid #fff;
  border-radius: 100px;
  font-size: 20px;
  display: flex;
  align-items: center;
}
#main-visual .container button img {
  width: 40px;
  margin-left: 20px;
  transition: all 0.25s ease;
}
#main-visual .container button:hover {
  background-color: #0e6458;
}
#main-visual .container button:hover img {
  transform: translateX(30%);
}
#main-visual .container ul {
  font-family: "Noto Serif KR";
  font-size: 21px;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
#main-visual .container ul li {
  position: relative;
  padding: 0 100px;
}
#main-visual .container ul li:nth-child(1) {
  padding-left: 0;
}
#main-visual .container ul li:nth-child(3) {
  padding-right: 0;
}
#main-visual .container ul li:after {
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
  width: 1px;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 0;
}
#main-visual .container ul li:nth-last-child(1):after {
  display: none;
}
#main-visual .container ul li i {
  margin-bottom: 30px;
}

#our {
  margin: 100px 0 200px;
}
#our .container {
  width: 70%;
}
#our .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 0;
}
#our .title h2 {
  font-family: "Noto Serif KR";
  font-size: 50px;
  margin-bottom: 20px;
}
#our .title p {
  font-size: 16px;
  opacity: 0.8;
}
#our .our-slide ul {
  width: 100%;
}
#our .our-slide ul li {
  width: 300px;
}
#our .our-slide ul li img {
  width: 300px;
}
#our .our-slide ul li h3 {
  margin-top: 30px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 1.25;
}
#our .our-slide ul li span {
  color: #055e52;
  font-size: 15px;
}
#our .our-slide .pagination {
  display: flex;
  justify-content: center;
}
#our .our-slide .pagination .swiper-pagination-bullet {
  width: 50px;
  height: 3px;
  border-radius: 0;
  margin: 150px 0 0 0;
}
#our .our-slide .pagination .swiper-pagination-bullet-active {
  background-color: #111;
}

#category {
  padding: 150px 0;
  background-color: #19464a;
}
#category .container {
  width: 80vw;
}
#category .title {
  color: #fff;
}
#category .title h3 {
  font-size: 50px;
  font-family: "Noto Serif KR";
  line-height: 1.5;
}
#category .title p {
  font-size: 16px;
  margin: 20px 0;
}
#category .parts {
  padding-top: 50px;
}
#category .parts ul {
  display: flex;
  justify-content: end;
  color: #fff;
}
#category .parts ul li {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
#category .parts ul li:nth-child(2), #category .parts ul li:nth-child(3), #category .parts ul li:nth-child(4), #category .parts ul li:nth-child(5) {
  margin-left: -1px;
}
#category .parts ul li.on a {
  width: 300px;
  background-color: #fff;
}
#category .parts ul li.on h4 {
  color: #111;
  font-weight: 700;
}
#category .parts ul li.on p {
  opacity: 1;
}
#category .parts ul li.on img {
  filter: brightness(1) invert(0);
}
#category .parts ul li.on i {
  opacity: 1;
}
#category .parts ul li a {
  width: 215px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 30px;
  box-sizing: border-box;
  position: relative;
}
#category .parts ul li img {
  height: 40px;
  filter: brightness(0) invert(1);
}
#category .parts ul li h4 {
  font-family: "Noto Serif KR";
  font-size: 25px;
  font-weight: 500;
}
#category .parts ul li p {
  opacity: 0;
  color: #333;
  font-size: 15px;
}
#category .parts ul li i {
  opacity: 0;
  font-size: 20px;
  position: absolute;
  color: #333;
  bottom: 40px;
  right: 30px;
}